/* Reset */
*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --blue-purple: hsl(248, 32%, 49%);
    --header-and-footer-background: hsl(246, 25%, 77%);
    --red: hsl(0, 100%, 74%);
    --btn-color: #596D48;
    --inputs-border: #E5E7EB;

}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    min-height: 100vh;
}

main { display: flex; }

#background-image {
    width: 35vw;
    height: 100vh;
    background-image: url(./bg-intro-desktop.png);
    background-color: var(--red);
    position: relative;
}

#background-image > h1 {
    position: relative;
    left: 0;
    right: 0;
    top: 14%;
    bottom: 66%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 4rem;
    color: white;
    font-size: 3.7rem;
    letter-spacing: 0.7rem;
    font-family:'Times New Roman', Times, serif;
}

#form-body {
    display: flex;
    flex-direction: column;
    flex-shrink: 2;
    height: 100vh;
    width: 65vw;
    background-color: rgba(0, 0, 0, 0.8);
    
}

#header-section, #footer-section {
    height: 34%;
    color: #E5E7EB
}

#header-section { padding: 8rem 14rem 0 4rem; }

#footer-section { padding: 2.5rem 0 0 4rem;}

#header-section p {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: -0.4px;
    line-height: 1.8rem;
    margin-bottom: 2rem;
}

#header-section p > span { font-style: italic; }

#form-section {
    height: calc(100% - 2*34%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem 15rem 0 4rem;
}

#lets-do-this {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.input {
    display: flex;
    flex-flow: column nowrap;
    width: 45%;
}

.input:nth-child(even) {
    margin-left: 4rem;
}

form {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
}

form label {
    font-size: 0.7rem;
    letter-spacing: 0.15rem;
    font-weight: 600;
}

form input {
    padding: 0.4rem;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 0.2rem;
    background-color: inherit;
    text-transform: uppercase;
    transition: all 1000ms ease-in-out;
}

.input input:focus {
    border: var(--blue-purple);
}

#footer-section input {
    padding: 1rem 4rem;
    color: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    border: 2px solid var(--blue-purple);
    background-color: inherit;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

#footer-section input:hover {
    background-color: var(--blue-purple);
    border: 2px solid inherit;
    color: white;
}

#footer-section p {
    letter-spacing: 0.1rem;
}

#footer-section p > span {
    color: var(--blue-purple);
    cursor: pointer;
    font-weight: 600;
    transition: all 300ms ease-in-out;
}

#footer-section p > span:hover {color: white}